.padre{
    display: flex;
    align-items: center;
    height: 100%;
}
.tamaño-imagen{
    width: 50%;
    height: 50%;
    margin-top: 100px;
}
.estilo.prfile{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20 px;
}
.cajatexto{
    background-color: #cccccc40;
    border-color: slategray;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
}
.cajatexto:focus {
    outline: 1px solid cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}
.btmform{
    background-color: #0d6efd;
    border-color: slategray;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
    color: white;
}
.select{
    margin-bottom: 20px;
    margin-left: 20px;
}

.container{
    display: flex;
    margin-top: 50px;
}